<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <%= link_to 'Back', "/recipes/#{@recipe.id}", class:"btn-back-modal" %>
        <h1 class="comments-header">Leave a Comment</h1>
      </div>
      <div class="modal-body">
          <%= simple_form_for ([@recipe, @comment]), class:"comment-form" do |f| %>
          <%= f.input :name, label: false, placeholder: "Your name", input_html: { value: @comment.name } %>
          <%= f.input :comment, label: false, placeholder: "Tell us about your experience", input_html: { value: @comment.comment } %>
          <%= f.submit "Submit", class: "btn-comment-submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
