<div class="show-container">
  <div class="recipe-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @recipe.photo %>)"></div>
  <div class="recipe-description">
    <h1><%= @recipe.title %></h1>
    <p><%= @recipe.description %></p>
  </div>
  <ul class="list-group">
  <% @recipe.comments.each do |review| %>
    <li class="list-group-item"><%= review.name %></li>
    <li class="list-group-item"><%= review.comment %></li>
  <% end %>
  </ul>
</div>
