<div class="home-container">
  <div class="slide-container">
    <div class="slider">
      <div class="slide">
        <a href=""><%= image_tag("food1.png", alt: "Recipe Photo") %></a>
        <a href=""><%= image_tag("food2.png", alt: "Recipe Photo") %></a>
        <a href=""><%= image_tag("food1.png", alt: "Recipe Photo") %></a>
        <a href=""><%= image_tag("food2.png", alt: "Recipe Photo") %></a>
        <a href=""><%= image_tag("food1.png", alt: "Recipe Photo") %></a>
        <a href=""><%= image_tag("food2.png", alt: "Recipe Photo") %></a>
        <a href=""><%= image_tag("food1.png", alt: "Recipe Photo") %></a>
      </div>
      <div class="slide">
        <a href=""><%= image_tag("food1.png", alt: "Recipe Photo") %></a>
        <a href=""><%= image_tag("food2.png", alt: "Recipe Photo") %></a>
        <a href=""><%= image_tag("food1.png", alt: "Recipe Photo") %></a>
        <a href=""><%= image_tag("food2.png", alt: "Recipe Photo") %></a>
        <a href=""><%= image_tag("food1.png", alt: "Recipe Photo") %></a>
        <a href=""><%= image_tag("food2.png", alt: "Recipe Photo") %></a>
        <a href=""><%= image_tag("food1.png", alt: "Recipe Photo") %></a>
      </div>
    </div>
  </div>
  <div class="new-recipe-container">
    <h1>What's new?</h1>
    <p class="new-recipe-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, omnis possimus adipisci corrupti? Reprehenderit repudiandae ut quasi sequi. Alias tenetur architecto nulla vel ipsum libero praesentium velit pariatur temporibus unde? </p>
  </div>
</div>

